body{
  width:1200px;
  font-size: 0;
}
div{
  position: relative;
}
/*
Add your CSS to the ID selectors below
*/
#statue{
  position:relative;
  
}


#ball{
  position:relative;
  left:70px;
  bottom:110px;
  z-index:1;
}

#turnip{
position:relative;
left:300px;
top:380px;
z-index:4;
}

#farm{
position:relative;
}

#grass{
position:relative;
left:330px;
top:400px;
z-index:1;
}

#tetris{
position:relative;
}

#L{
position:relative;
left:100px;
top:2015px;
z-index:1;
}

#T{
position:relative;
left:200PX;
top:2010px;
z-index:1;
}

#I{
position:relative;
left:500px;
top:2000px;
z-index:1;
}