    h1,h2,h3{  /* tag selector*/
      text-align: center;
    }
    
    #wrapper{  /* id selector*/
      background-color: gray;
      width: 80%;
      margin: auto;
      box-shadow: 10px 5px 5px red;
    }

    div{
      width: 90%;
      margin: auto;
    }
    .itembox{
      border-style: solid;
      border-radius: 25px;
      box-shadow: 10px 10px 5px lightblue;
      background-color: yellow;
      color: black;
      padding: 50px;
    }
  .favorite{
      border-style: dotted;
      border-radius: 25px;
      box-shadow: 10px 10px 5px lightblue;
      background-color: green;
      color: white;
      padding:50px;
  }
ol {
  background: #ff9999;
  padding: 20px;
  list-style-type: circle;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>